//- Mixin for IEs
mixin ie(condition)
  | <!--[!{condition}]>
  block
  | <![endif]-->

doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      It's possible to lock the zoom of the website on mobile devices. Just replace the line before with the next line
      meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //- Change this to your needs
    title A nice HTML5 boilerplate for Jade
    meta(name='description', content='This template can be used for developing with Jade template language')
    meta(name='Author', content='DeeSPe')
    //- Favicons
    link(rel='icon' href='favicon.png')
    //- favicon.ico only for IEs
    +ie('if IE')
      link(rel="shortcut icon" href="favicon.ico")
    //- special tags for Apple iOS devices (please see description)
    meta(name='apple-touch-fullscreen', content='YES')
    meta(name='apple-mobile-web-app-capable', content='YES')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='apple-touch-icon' href='favicon-60x60.png')
    link(rel='apple-touch-icon' sizes='76x76' href='favicon-76x76.png')
    link(rel='apple-touch-icon' sizes='120x120' href='favicon-120x120.png')
    link(rel='apple-touch-icon' sizes='152x152' href='favicon-152x152.png')
    link(rel='apple-touch-icon' sizes='167x167' href='favicon-167x167.png')
    link(rel='apple-touch-icon' sizes='180x180' href='favicon-180x180.png')
    //- special tags for Windows mobile devices
    meta(name='msapplication-TileColor', content='#eee')
    meta(name='msapplication-TileImage', content='favicon-144x144.png')
    link(rel='stylesheet', href='css/main.min.css')
    //- Modernizr https://modernizr.com
    script(src='js/vendor/modernizr.min.js')
    //- html5shiv.js and respond.js for IEs
    +ie('if lt IE 9')
      script(src="js/vendor/html5shiv.min.js")
      script(src="js/vendor/respond.min.js")
  body
    +ie('if lt IE 8')
      p.browserupgrade You are using an 
        strong outdated
        |  browser. Please 
        a(href="http://browsehappy.com/") upgrade your browser
        |  to improve your experience.
    //- Add your content here

    //- Add your scripts here
    script(src="js/main.min.js")
