//- Mixin for IEs
mixin ie(condition)
  | <!--[!{condition}]>
  block
  | <![endif]-->

doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- It's possible to lock the zoom of the website/webapp on mobile devices. Just replace the line before with the next line
      meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //- Change this to your needs
    title jadeHTML5boilerplate
    meta(name='description', content='jadeHTML5boilerplate is the perfect template to start your layout in Jade template language > v1.0, especially for web apps.')
    meta(name='Author', content='DeeSPe')
    //- Favicons
    link(rel='icon' href='favicon.png')
    //- Special favicon only for IEs (! .ico file)
    +ie('if IE')
      link(rel="shortcut icon" href="favicon.ico")
    //- Special favicons for Apple iOS devices, please uncomment or unindet if needed
      link(rel='apple-touch-icon' href='favicon-60x60.png')
      link(rel='apple-touch-icon' sizes='76x76' href='favicon-76x76.png')
      link(rel='apple-touch-icon' sizes='120x120' href='favicon-120x120.png')
      link(rel='apple-touch-icon' sizes='152x152' href='favicon-152x152.png')
      link(rel='apple-touch-icon' sizes='167x167' href='favicon-167x167.png')
      link(rel='apple-touch-icon' sizes='180x180' href='favicon-180x180.png')
    //- Special startup images for Apple iOS devices, please uncomment or unindet if needed
      link(rel='apple-touch-startup-image' href='startup-320x480.png')
      link(rel='apple-touch-startup-image' sizes='640x960' href='startup-640x960.png')
      link(rel='apple-touch-startup-image' sizes='640x1096' href='startup-640x1096.png')
      link(rel='apple-touch-startup-image' sizes='750x1294' href='startup-750x1294.png')
      link(rel='apple-touch-startup-image' sizes='1182x2208' href='startup-1182x2208.png')
      link(rel='apple-touch-startup-image' sizes='768x1004' href='startup-768x1004.png')
      link(rel='apple-touch-startup-image' sizes='1536x2008' href='startup-1536x2008.png')
      link(rel='apple-touch-startup-image' sizes='2048x2692' href='startup-2048x1496.png')
      link(rel='apple-touch-startup-image' sizes='480x320' href='startup-480x320.png')
      link(rel='apple-touch-startup-image' sizes='960x640' href='startup-960x640.png')
      link(rel='apple-touch-startup-image' sizes='1136x600' href='startup-1136x600.png')
      link(rel='apple-touch-startup-image' sizes='1334x710' href='startup-1334x710.png')
      link(rel='apple-touch-startup-image' sizes='2248x1142' href='startup-2248x1142.png')
      link(rel='apple-touch-startup-image' sizes='1024x748' href='startup-1024x748.png')
      link(rel='apple-touch-startup-image' sizes='2048x1496' href='startup-2048x1496.png')
      link(rel='apple-touch-startup-image' sizes='2732x2008' href='startup-2732x2008.png')
    //- Other special tags for Apple iOS devices, please uncomment or unindet if needed
      meta(name='apple-touch-fullscreen', content='yes')
    //- Hiding Safari user interface components, please uncomment or unindet if needed
      meta(name='apple-mobile-web-app-capable', content='yes')
    //- Changing the status bar appearance, please uncomment or unindet if needed
      meta(name='apple-mobile-web-app-status-bar-style', content='black')
    //- special tags for Windows mobile devices, please uncomment or unindet if needed
      meta(name='msapplication-TileColor', content='#eee')
      meta(name='msapplication-TileImage', content='favicon-144x144.png')
    link(rel='stylesheet', href='css/main.min.css')
    //- Modernizr https://modernizr.com
    script(src='js/vendor/modernizr.min.js')
    //- html5shiv.js and respond.js for IEs
    +ie('if lt IE 9')
      script(src="js/vendor/html5shiv.min.js")
      script(src="js/vendor/respond.min.js")
  body
    +ie('if lt IE 8')
      p.browserupgrade You are using an 
        strong outdated
        |  browser. Please 
        a(href="http://browsehappy.com/") upgrade your browser
        |  to improve your experience.
    //- Add your content here

    //- Add your scripts here
    script(src="js/main.min.js")
